   <nav>
        <a href="/"><button>INICIO</button></a>
        <a href="/AcercaDe"><button>ACERCA DE</button></a>
        <a href="/Portafolio"><button>PORTAFOLIO</button></a>
        <a href="/Contacto"><button>CONTACTO</button></a>
    </nav>