<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca De</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/AcercaDe.css">
</head>

<body>

    {{> header}}

    <section>
        <h1>Acerca De</h1>
        <p id="nombre">Abigail Ajú Chiroy</p>
        <div id="contenedor1">
            <div id="Columna1">
                <img src="./Imágenes/Foto.jpeg" alt="">

            </div>
            <div id="Columna2">
                <h2>DATOS ACADÉMICOS</h2>
                <ul>
                    <li><strong>Universidad Mariano Galvez de Guatemala</strong>
                        <p>Ingeniería de Sistemas de Información y Ciencias de la computación </p>
                    </li>
                    <li><strong>INED San Antonio Sololá</strong>
                        <p>Ciencias y letras con Orientación en Computación</p>
                    </li>
                    <li><strong>INEB Abraham Lincoln Sololá</strong>
                        <p>Nivel Básico</p>
                    </li>

                </ul>


                <h2><Strong>HABILIDADES</Strong></h2>
                <ol>
                    <li>Solución de Probelmas</li>
                    <li>Adaptabilidad</li>
                    <li>Ética de trabajo</li>
                    <li>Creatividad</li>
                    <li>Competitividad</li>
                </ol>
                <h2><Strong>IDIOMA</Strong></h2>
                <ul>
                    <li>Kaqchikel (Nativo)</li>
                    <li>Español (Alto Nivel)</li>
                    <li>Inglés (Nivel Medio)</li>
                </ul>
            </div>
        </div>
    </section>

    {{> footer}}
</body>

</html>