<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/contacto.css">
</head>

<body>

    {{> header}}

    <section>
        <h1>CONTACTO</h1>
        <p id="nombre">comuniquémonos</p>
    </section>

    <section>
        <p id="Nombres"><strong>NOMBRE: Abigail Ajú Chiroy</strong></p>
        <p id="Correo"><strong>EMAIL: aajuc3@miumg.edu.gt</strong></p>
    </section>

    {{> footer}}
</body>
</html>