<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/portafolio.css">

</head>

<body>
    {{> header}}

    <Section>
        <h1>PORTAFOLIO</h1>
        <p id="nombre">Proyectos</p>
    </Section>

    <section>
        <div class="contenedorcaja">
            <div>
                <h2>Proyecto Final Compiladores</h2>
                <p class="info">Este proyecto se basa en un compilador que tiene el funcionamiento de análisis léxico,
                    en la cual es el que examina el código fuente y genera una serie de tokens, sintánctico es la fase
                    que se encarga de ver los tokens de entrada en base a una gramática dada y Semántico se
                    encarga de comprobar la consistencia semántica del programa, hace la comprobación o verificación de
                    tipos, en donde analiza cada operador cuando tenga un operando que coincia.
                </p>
                <a href="https://drive.google.com/file/d/1lsJug3or2k5KLrAOehtY3OqET6nIxUTm/view?usp=sharing">
                    <div class="Caja1">
                        <img src="./Imágenes/Proyecto1.png" alt="Imagen" class="animada">
                    </div>
                </a>
            </div>

            <div>
                <h2>Proyecto Arquitectura</h2>
                <p class="info">Este proyecto en un medidor digital, permite medir una de distancia,
                    mostrando en pantalla una interfaz grafica con un botón de INICIAR y DETENER de medir
                    la distancia, utilizando dos componentes, un sensor ultrasónico y luces led, Raspberry
                    por circuetería y el código,luz led roja, no detecta distancia y la luz led azul esta detectando
                    la distancia y muestra el resultado en pantalla de la interfaz grafica, utilizando una regla para
                    confirmar los datos de la medición.
                </p>
                <a href="https://drive.google.com/file/d/15bAagaWt_RFt1uPyJrsJqMtVU7-ElV2x/view?usp=sharing">
                    <div class="Caja2">
                        <img src="./Imágenes/Proyecto2.png" alt="Imagen" class="animada">
                    </div>
                </a>
            </div>
            <div>
                <h2>Proyecto Sistemas Operativos</h2>
                <p class="info">En esta presente proyecto se asienta sobre la descripción de librerías e iconos, de
                    igual manera sobre las generalidades de lenguaje C# y herramientas a utilizar, el
                    cual se estuvo manipulando en el proyecto basado en forms, significado del
                    lenguaje, sus principales características y tipos de C Sharp, utilizando
                    diferentes tipos de herramientas en el proyecto lenguaje de programación, representando de
                    la misma manera interfases gráficos, versión de Windows, hardware, software,
                    procesos en ejecución, monitoreo de recursos, concurrencia e interbloqueos
                    diseñado para el funcionamiento de Winver, y Perfon.
                </p>
                <a href="https://drive.google.com/file/d/1DBJQwAwMQPhSQaZQQxIqWVzGz7DHU7vT/view?usp=sharing">
                    <div class="Caja3">
                        <img src="./Imágenes/Proyecto3.png" alt="Imagen" class="animada">
                    </div>
                </a>
            </div>
            <div>
                <h2>Proyecto Desarrollo Web</h2>
                <p class="info">Este proyecto consiste en una sobre un Servidor Web, realizado con Node Js como compilador principal del programa,
                     Java Script, hbs y css, de igual manera se estuvo instalando y descomprimiendo varios paquetes para la realización de este 
                     Servidor Web, como npm init -y, npm install express, npm i dotenv, esto para el puerto en donde compilamos el Servidor, también
                     npm hbs, esto para archivos de hbs y no repitor códigos, prácticamente nos sirve para reutilizar, este proyecto se basa en principalmente
                     en muchas ventanas como home, elements, generic, utilizando partials,esto para no estar repitiendo los códigos del programa.
                <a href="https://drive.google.com/file/d/1fcjR8eykTjaEKoK9EaoIAiphu7fTh7l1/view?usp=sharing">
                    <div class="Caja4">
                        <img src="./Imágenes/Proyecto4.png" alt="Imagen" class="animada">
                    </div>
                </a>
            </div>
        </div>
    </section>

    {{> footer}}
</body>

</html>